@model SuperKoikoukesse.Webservice.ViewModels.StatsModel
<h2>Liste des parties</h2>
<p>
    C'est moche !
</p>
<table class="table table-bordered table-condensed">
    <tr>
        <th>
            Id
        </th>
        <th>
            Joueur
        </th>
        <th>
            Date
        </th>
        <th>
            Mode
        </th>
        <th>
            Difficulté
        </th>
        <th>
            Score
        </th>
    </tr>

    @foreach (var stat in Model.Stats)
    {
    <tr>
         <td>
            @stat.Id
        </td>
        <td>
            @stat.PlayerId
        </td>
        <td>
            @stat.Date
        </td>
        <td>
            @stat.Mode
        </td>
        <td>
            @stat.Difficulty
        </td>
        <td>
            @stat.Score
        </td>
    </tr>
    }
</table>
