%h1 Configuration du jeu
%p Modifier les valeurs de jeu par mode et difficulté.

%div
  %p Rappel valeurs
  %p
    Modes
    %ul
      %li Score Attack : #{Modes::SCOREATTACK}
      %li Time Attack : #{Modes::TIMEATTACK}
      %li Survival : #{Modes::SURVIVAL}
      %li Versus : #{Modes::VERSUS}
  %p
    Difficultés
    %ul
      %li Normal : #{Difficulties::NORMAL}
      %li Hard : #{Difficulties::HARD}
      %li Expert : #{Difficulties::EXPERT}
      %li Nolife : #{Difficulties::NOLIFE}

%div
  %form{:action=>"./config/update",:method=>"post"}
    %p Version courante : #{@quizConfig.version}
    %p Date de dernière mise à jour : #{@quizConfig.last_edit}

    %input{:type=>"hidden",:name=>"version", :value=>"#{@quizConfig.version}"}
    %textarea{:name=>"content", :rows=>30, :cols=>30}
      = @quizConfig.content
    %input{:type=>"submit",:value=>"Update"}
