%html
  %head
    %title Super Koikoukesse - Utilisateurs

  %body
    %h1 Utilisateurs
    %p Liste des comptes

  %table
    %tr
      %th Id
      %th Date de création
      %th Coins
      %th Credits
      %th Platforme

    - @players.each do |p|
      %tr
        %td
          = p.playerId
        %td
          = p.creation_date
        %td
          = p.coins
        %td
          = p.credits
        %td
          = p.platform
