%h1 Base de questions
%p Liste des jeux et état (exclu ou non)

%div
  %h2 Upload CSV
  %form{:action=>"./questions/upload",:method=>"post"   ,:enctype=>"multipart/form-data"}
    %input{:type=>"file",:name=>"file"}
    %input{:type=>"submit",:value=>"Upload"}

%div
  %h2 Export
  %a(href="./questions/export.json") JSON
  %a(href="./questions/export.xml") XML

%div
  %h2 Liste des questions
  %table
    %tr
      %th Id
      %th Titre PAL
      %th Image
      %th Genre
      %th Editeur
      %th Année
      %th Platforme
      %th Exclu
      %th Actions

    - @questions.each do |q|
      %tr
        %td
          = q.gameId
        %td
          = q.titlePAL
        %td
          = q.image
        %td
          = q.genre
        %td
          = q.publisher
        %td
          = q.year
        %td
          = q.platform
        %td
          = q.excluded
        %td
          <a href="./questions/exclude/#{q.gameId}" >X</a>
