@model SuperKoikoukesse.Webservice.Models.ServiceStateModel
<h2>Etat du webservice</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>URL
        </th>
        <th>Méthode
        </th>
        <th>Description
        </th>
    </tr>

    <tr>
        <td><a href="@Url.Action("Exclusions", "Service")">@Url.Action("Exclusions", "Service")</a></td>
        <td>GET
        </td>
        <td>Récupération des jeux exclus post-livraison
        </td>
    </tr>

    <tr>
        <td><a href="@Url.Action("GetPlayerInfo", "Service", new { gameCenterId = "Valryon" })">@Url.Action("GetPlayerInfo", "Service")</a></td>
        <td>GET
        </td>
        <td>Récupération des info d'un joueur
        </td>
    </tr>

    <tr>
        <td>@Url.Action("AddGameHistory", "Service")
        </td>
        <td>POST
        </td>
        <td>Ajouter une ligne dans l'historique des parties
        </td>
    </tr>
</table>
<p>
</p>
